{
  "model": {
    "name": "auto-gemini-3"
  },
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    },
    "enablePermanentToolApproval": true
  },
  "general": {
    "previewFeatures": true,
    "enablePromptCompletion": false
  },
  "ui": {
    "footer": {
      "hideContextPercentage": false
    },
    "showMemoryUsage": true,
    "showModelInfoInChat": true,
    "showHomeDirectoryWarning": false
  },
  "context": {
    "loadMemoryFromIncludeDirectories": true
  },
  "tools": {
    "shell": {
      "showColor": true
    },
    "autoAccept": true
  },
  "experimental": {
    "plan": true
  },
  "mcpServers": {
    "MCP_DOCKER": {
      "command": "docker",
      "args": [
        "mcp",
        "gateway",
        "run"
      ]
    }
  }
}
